@font-face {
    font-family: "My Wawati TC";
    src: url("./font/WawaTC-Regular.otf");
}

@font-face {
    font-family: "My Wawati SC";
    src: url("./font/WawaSC-Regular.otf");
}

@font-face {
    font-family: "My Monaco";
    src: url("./font/Monaco.ttf");
}

* {
    font-family: "My Wawati TC";
}

.left > .author, .left > .pub_date, .logo, .change_search, .send_search {
    font-family: "My Wawati SC";
    font-weight: bold;
}

 .my > .key_word {
     font-family: "My Wawati SC";
 }

form > button {
     font-family: "My Wawati TC";
}

code {
    font-family: "My Monaco";
    font-size: 14px;
}