<link href={{url_for("static", filename="common/pc/dialog.css")}} rel="stylesheet"/>
<script src={{url_for("static", filename="common/pc/dialog.js")}}></script>
<div id="infor">
    <div class="message">登陆成功！</div>
    <div class="button">确认</div>
</div>

<div id="shuru">
    <div class="layout">
        <input type="text"/>
        <a href="#" class="confirm">确认</a>
        <a href="#" class="cancel">取消</a>
    </div>
</div>

<div id="upload_file">
    <form class="layout" enctype="multipart/form-data">
        <input type="text" name="title" class="upload_file_title"/>
        <input type="file" name="upload_file_name" class="upload_file_name"
               accept=".jpg, .jpeg, .png, .gif, .jfif"/>
        <select class="categories" name="category_name"></select>
        <a href="#" class="confirm">确认</a>
        <a href="#" class="cancel">取消</a>
    </form>
</div>

<div id="upload_video">
    <form class="layout" enctype="multipart/form-data">
        <input type="text" name="title" class="upload_file_title" placeholder="视频标题"/>
        <select class="categories" name="category_name"></select><br>
        <input type="file" name="upload_file_name" class="upload_file_name"
               accept=".mp4,.flv"/><br>
        <textarea class="description" placeholder="描述" name="description"></textarea><br>
        <a href="#" class="confirm">确认</a>
        <a href="#" class="cancel">取消</a>
    </form>
</div>