<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>工作台</title>

    <link rel="shortcut icon" href={{ url_for("static", filename="favicon.ico") }}>
    <link href={{url_for("static", filename="blog/pc/notepad.css")}} rel="stylesheet"/>

    <link href={{url_for("static", filename="common/common.css")}} rel="stylesheet"/>
    <script src={{url_for('static', filename="common/jquery-3.4.1.min.js")}}></script>
</head>

<body>
<div class="left">
    <div class="title">💖</div>
    {% if url %}
        <input type="url" placeholder="请输入学习网址后按回车键即打开" value="{{ url }}">
    {% else %}
        <input type="url" placeholder="请输入学习网址后按回车键即打开" value="">
    {% endif %}
    <iframe src=""></iframe>
</div>

<div class="right">
    <div class="title">笔记本</div>
    <iframe class="r_top" src="/blog/?edit=True"></iframe>
    <div class="title">终端</div>
    <iframe class="r_bottom" src="https://serv_pro:4433/"></iframe>
</div>
<script defer src={{url_for('static', filename="blog/pc/notepad.js")}}></script>
</body>
</html>
