<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!--解决https网站iframe中不能嵌入http网站的问题-->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>工作台</title>

    <link rel="shortcut icon" href={{ url_for("static", filename="favicon.ico") }}>
    <link href={{url_for("static", filename="blog/pc/notepad.css")}} rel="stylesheet"/>

    <link href={{url_for("static", filename="common/common.css")}} rel="stylesheet"/>
    <script src={{url_for('static', filename="common/jquery-3.4.1.min.js")}}></script>
</head>

<body>
<div class="left">
    <div class="title">💖
        <a class="kanban_bt">看板1</a>
        <a class="liulanqi_bt">看板2</a>
    </div>
    {% if url %}
        <input type="url" placeholder="请输入学习网址后按回车键即打开" value="{{ url }}">
    {% else %}
        <input type="url" placeholder="请输入学习网址后按回车键即打开" value="">
    {% endif %}
    <iframe class="kanban_iframe" src=""></iframe>
    <iframe class="liulanqi_iframe" src=""></iframe>
</div>

<div class="right">
    <div class="title">笔记本</div>
    <iframe class="r_top" src="/blog"></iframe>
    <div class="title">终端</div>
    <iframe class="r_bottom" src="https://wssh:4433"></iframe>
</div>

<hidden class="kanban_url" value=""></hidden>
<hidden class="liulanqi_url" value=""></hidden>

<script defer src={{url_for('static', filename="blog/pc/notepad.js")}}></script>
</body>
</html>
