<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>❤-仰望星空，脚踏实地️</title>

    <link rel="shortcut icon" href={{ url_for("static", filename="favicon.ico") }}>
    <link href={{url_for("static", filename="blog/pc/notepad.css")}} rel="stylesheet"/>

    <link href={{url_for("static", filename="common/common.css")}} rel="stylesheet"/>
    <script src={{url_for('static', filename="common/jquery-3.4.1.min.js")}}></script>
</head>

<body>
<div class="left">
    <div class="title">黑板-温柔乡原是英雄冢啊！</div>
    {% if url %}
        <input type="url" placeholder="请输入学习网址后按回车键即打开" value="{{ url }}">
    {% else %}
        <input type="url" placeholder="请输入学习网址后按回车键即打开" value="">
    {% endif %}
    <iframe src=""></iframe>
</div>

<div class="right">
    <div class="title">笔记本-喜欢独处，与人交往的秘诀是，沉默，聆听</div>
    <iframe class="r_top" src="/blog/?edit=True"></iframe>
    <div class="title">SSH终端-饮酒，听老师赏诗词，没有比这更愉快的</div>
    <iframe class="r_bottom" src="https://serv_pro:4433/"></iframe>
</div>
<script defer src={{url_for('static', filename="blog/pc/notepad.js")}}></script>
</body>
</html>
