<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>职位</title>

    <link rel="shortcut icon" href={{ url_for("static", filename="favicon.ico") }}>
    <link href={{url_for("static", filename="findme/pc/job.css")}} rel="stylesheet"/>

    <link href={{url_for("static", filename="common/common.css")}} rel="stylesheet"/>
    <script src={{url_for('static', filename="common/jquery-3.4.1.min.js")}}></script>
</head>

<body>

<script defer src={{url_for('static', filename="findme/pc/job.js")}}></script>
</body>
</html>
