<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <link href={{url_for("static", filename="search/pc/index.css")}} rel="stylesheet"/>
    <link href={{url_for("static", filename="common/common.css")}} rel="stylesheet"/>

    <link rel="shortcut icon" href={{ url_for("static", filename="favicon.ico") }}>
    <script src={{url_for('static', filename="common/jquery-3.4.1.min.js")}}></script>
</head>

<body>
<div class="pub_date">
    2019年12月16日
</div>

<div class="top">
    <div class="nav">
        <ul>
            <li><a target="_blank" href="/blog/">博文</a>，</li>
            <li><a target="_blank" href="/image/">图片</a>，</li>
            <li><a target="_blank" href="/video/">视频</a>，</li>
            <li>
                <a class="play_or_pause" href="#">➠</a>
                <audio id="远征MUSIC" controls="controls" hidden loop="loop">
                    <source src={{url_for('static', filename="search/Bandari - Expedicion.mp3")}}/>
                </audio>
            </li>
        </ul>
    </div>

    <div class="account">
        {% if user_name %}
            {{ user_name }}，欢迎您！<a id="logout">退出</a>
        {% else %}
            <a href="/account/login">登录</a>/<a href="/account/register">注册</a>
        {% endif %}
    </div>
</div>

<div class="center">
    <div class="my">
        <input type="text" class="key_word" placeholder="" name="key_word" autocomplete="on" onkeydown="keydown_send_search(event)"/>
        <button class="send_search"><span>搜索</span></button>
    </div>

    <div class="article">
        <div class="class">博文</div>
        <div class="human">
            <fieldset>
                <legend title="他们都说我很蠢，实际上确实是这样">A</legend>
                <div class="content"></div>
            </fieldset>
            <div class="opera">
                 <ul class="pn">
                    <li>当前页：<m class="current_page"></m></li>
                    <li>总页数：<m class="total_page">0</m></li>
                    <li><input class="we_go_page" type="number"/></li>
                    <li><button class="article_page_go">跳转</button></li>
                    <li><a class="pre_page">上一页</a></li>
                    <li><a class="next_page">下一页</a></li>
                </ul>
            </div>
        </div>

        <div class="robot">
            <fieldset>
                <legend title="我虽然很傻，但是我很喜欢你">B</legend>
                <div class="content"></div>
            </fieldset>
            <div class="opera">
                 <ul class="pn">
                    <li>当前页：<m class="current_page"></m></li>
                    <li>总页数：<m class="total_page">0</m></li>
                    <li><input class="we_go_page" type="number"/></li>
                    <li><button class="article_page_go">跳转</button></li>
                    <li><a class="pre_page">上一页</a></li>
                    <li><a class="next_page">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="image">
        <div class="class">图片</div>
        <div class="human">
            <fieldset>
                <legend title="我发现那些数学题不会做是因为看不懂那题目">C</legend>
                <div class="content">
                </div>
            </fieldset>
            <div class="opera">
                 <ul class="pn">
                    <li>当前页：<m class="current_page"></m></li>
                    <li>总页数：<m class="total_page">0</m></li>
                    <li><input class="we_go_page" type="number"/></li>
                    <li><button class="image_page_go">跳转</button></li>
                    <li><a class="pre_page">上一页</a></li>
                    <li><a class="next_page">下一页</a></li>
                </ul>
            </div>
        </div>

        <div class="robot">
            <fieldset>
                <legend title="我也觉得语文不行，有时候更喜欢英文">D</legend>
                <div class="content">
                </div>
            </fieldset>
            <div class="opera">
                 <ul class="pn">
                    <li>当前页：<m class="current_page"></m></li>
                    <li>总页数：<m class="total_page">0</m></li>
                    <li><input class="we_go_page" type="number"/></li>
                    <li><button class="image_page_go">跳转</button></li>
                    <li><a class="pre_page">上一页</a></li>
                    <li><a class="next_page">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="video">
        <div class="class">视频</div>
        <div class="human">
            <fieldset>
                <legend title="我的努力让周围的人感到不快，经常，所以我开始偷偷努力">E</legend>
                <div class="content">
                </div>
            </fieldset>
            <div class="opera">
                 <ul class="pn">
                    <li>当前页：<m class="current_page"></m></li>
                    <li>总页数：<m class="total_page">0</m></li>
                    <li><input class="we_go_page" type="number"/></li>
                    <li><button class="video_page_go">跳转</button></li>
                    <li><a class="pre_page">上一页</a></li>
                    <li><a class="next_page">下一页</a></li>
                </ul>
            </div>
        </div>

        <div class="robot">
            <fieldset>
                <legend title="语文成了我最大的弱点">F</legend>
                <div class="content">
                </div>
            </fieldset>
            <div class="opera">
                 <ul class="pn">
                    <li>当前页：<m class="current_page"></m></li>
                    <li>总页数：<m class="total_page">0</m></li>
                    <li><input class="we_go_page" type="number"/></li>
                    <li><button class="video_page_go">跳转</button></li>
                    <li><a class="pre_page">上一页</a></li>
                    <li><a class="next_page">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer">

</div>

<script src={{url_for('static', filename="search/pc/index.js")}}></script>
{% include "common/pc/dialog.html" %}
</body>
</html>
