<!doctype html>
<html lang="zh">
<head>
    <title>更改密码</title>
    <meta charset="utf-8"/>
    <link href={{url_for("static", filename="account/pc/form.css")}} rel="stylesheet"/>
    <link href={{url_for("static", filename="common/common.css")}} rel="stylesheet"/>

    <link rel="shortcut icon" href={{ url_for("static", filename="favicon.ico") }}>
</head>
<body>
<form>
    <h1>更改密码</h1>
    <input id="name" name="name" placeholder="用户名" type="text" required/>
    <input id="email" name="email" placeholder="邮箱" type="text" required/>
    <button id="sendCheckCode">发送验证码</button>
    <input id="check_code" name="check_code" placeholder="验证码" type="text" required/>
    <input id="new_passwd" name="new_password" placeholder="新密码" type="password" required/>

    <input id="re_new_passwd" name="re_new_password" placeholder="确认新密码" type="password" required/>
    <button id="forget_password_button">提交</button>
</form>

<audio controls="controls" autoplay="autoplay" hidden loop="loop">
    <source src={{url_for('static', filename="account/陈致逸 - 千人千面（捏脸）.flac")}}/>
</audio>

<script src={{url_for("static", filename="common/jquery-3.4.1.min.js")}}></script>
<script src={{url_for("static", filename="account/pc/form.js")}}></script>

{% include "common/dialog.html" %}
</body>
</html>
