<!doctype html>
<html lang="zh">
<head>
    <title>登陆</title>
    <meta charset="utf-8"/>

    <link href={{url_for("static", filename="account/pc/form.css")}} rel="stylesheet"/>
    <link rel="shortcut icon" href={{ url_for("static", filename="favicon.ico") }}>
    <script src={{url_for("static", filename="common/jquery-3.4.1.min.js")}}></script>
</head>
<body>
<form>
    <h1>登陆</h1>
    <input id="name" name="name" placeholder="用户名" type="text" required/>
    <input id="passwd" name="passwd" placeholder="密码" type="password" required/>

    <input id="login_button" type="button" value="登陆"/>
    <input id="register" type="button" value="注册"/>
    <input id="forgetPassword" type="button" value="更改密码"/>
</form>


<audio controls="controls" autoplay="autoplay" hidden loop="loop">
    <source src={{url_for("static", filename="account/陈致逸 - 千人千面（登录）.flac")}}/>
</audio>

{% include "common/pc/dialog.html" %}
<script src={{url_for("static", filename="account/pc/form.js")}}></script>
</body>
</html>
