<!doctype html>
<html lang="zh">
<head>
    <title>注册</title>
    <meta charset="utf-8">
    <link href={{url_for("static", filename="account/pc/form.css")}} rel="stylesheet"/>
    <link href={{url_for("static", filename="common/common.css")}} rel="stylesheet"/>

    <link rel="shortcut icon" href={{ url_for("static", filename="favicon.ico") }}>
</head>
<body>
<form>
    <h1>注册</h1>
    <input id="name" name="userName" placeholder="用户名" type="text" required/>
    <input id="passwd" name='password' placeholder="密码" type="password" required/>
    <input id="re_passwd" placeholder="确认密码" type="password" required/>
    <input id="email" name="email" placeholder="邮箱" type="email" required/>
    <button id="sendCheckCode">发送验证码</button>
    <input id="check_code" name="check_code" placeholder="验证码" type="text" required/>

    <button id="register_button">提交</button>
</form>

<audio controls="controls" autoplay="autoplay" hidden loop="loop">
    <source src={{ url_for("static", filename="account/陈致逸 - 我心已许（七夕夜晚）.flac")}}/>
</audio>

<script src={{url_for("static", filename="common/jquery-3.4.1.min.js")}}></script>
<script src={{url_for("static", filename="account/pc/form.js")}}></script>

{% include "common/pc/dialog.html" %}
</body>
</html>
