<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>视频</title>
    <link rel="shortcut icon" href={{ url_for("static", filename="favicon.ico") }}>

    <link href={{url_for('static', filename="video/pc/video.css")}} rel="stylesheet"/>
    <link href={{url_for("static", filename="common/common.css")}} rel="stylesheet"/>
    <script src={{url_for('static', filename="common/jquery-3.4.1.min.js")}}></script>
    <script src={{url_for('static', filename="common/flv.min.js")}}></script>
</head>

<body>
{% include "common/pc/dialog.html" %}

{% if look %}
    <hidden class="look" value="{{ look }}"></hidden>
{% endif %}

{% if video_title %}
    <hidden class="video_title" value="{{ video_title }}"></hidden>
{% endif %}

<div class="left_control">
    <
</div>

<div class="right_control">
    >
</div>

<div class="left">
    <ul>
        {% if look %}
            <li><a class="home" href={{ "/video/home" + "?look=" + look }}><b>主页</b></a></li>
        {% else %}
            <li><a class="home" href="/video/home"><b>主页</b></a></li>
        {% endif %}
    </ul>
    <ul class="nav"></ul>

    <div class="logo">视频</div>

    <div class="author">
        {% if user_name %}
            {{ user_name }}
        {% endif %}
    </div>

    <div class="pub_date">2020年2月19日</div>

    <hidden class="current_category" value=""></hidden>
    <hidden class="current_page" value="1"></hidden>

    <div class="video_list">
        <table class="data">
            <caption>视频列表</caption>
        </table>
        <div class="pagnation">
            <div class="pre">
                <a id="pre_page">上一页</a>
            </div>
            <div class="nex">
                <a id="nex_page">下一页</a>
            </div>
        </div>
    </div>
</div>

<div class="center">
    <div class="content">
        <h1 class="title"></h1>
        <video controls="controls" id="videoElement" controlsList="nodownload">
        </video>
        <p class="base_infor">
            <span class="category_name"></span>
            <span class="pub_date"></span>

            {% if look %}
            {% else %}
                <a class="del" href="#">删除</a>
                <a class="edit" href="#">编辑</a>
            {% endif %}
        </p>

        <br>
        <p class="description"></p>
    </div>
</div>

<div class="right">
      <div class="my_word">
        <!--真正的知识来源于卑微-->
        <!--千呼万唤始出来丶犹抱琵琶半遮面-->
<!--        我的深情不再留给往日的悲伤-->
        <!--积土成山风雨兴焉积水成渊蛟龙生焉-->
          虽然我极力掩饰这些
    </div>

    <div class="log_out">
        {% if back_home %}
            <a class="back_home">回家</a>
        {% else %}
            {% if look %}
                <a href="/account/login">登录</a>
            {% else %}
                <a class="exit">退出</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="newvideo">
        {% if look %}
        {% else %}
        <a>新建</a>
        {% endif %}
    </div>
</div>

<script src={{url_for('static', filename="video/pc/video.js")}}></script>

</body>
</html>
